.multiformGrid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.multiformGrid .centerForm {
    margin-top: 3rem;
    grid-column: span 2 / span 2;
}

.multiformGrid .rightForm {
    border-left-width: 10px;
    border-color: var(--brand);
}

.multiformGrid .rightForm .selectText {
    margin-top: 3rem;
    text-align: center !important;
}

.multiformGrid .rightForm .heightScroller {
    height: 80vh;
    overflow: auto;
}

.multiformGrid .rightForm .heightScroller .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.multiformGrid .rightForm .heightScroller .grid .imageContainer {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 845px){
    .multiformGrid .centerForm.sidebarOpen {
        grid-column: span 3 / span 3;
    }
    
    .multiformGrid .rightForm.sidebarOpen {
        grid-column: span 3 / span 3;
        border-left-width: 0px;
    }
}

@media only screen and (max-width: 550px){
    .multiformGrid .centerForm.sidebarClosed {
        grid-column: span 3 / span 3;
    }
    
    .multiformGrid .rightForm.sidebarClosed {
        grid-column: span 3 / span 3;
        border-left-width: 0px;
    }
}